@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../fonts/iconfont.ttf?t=1637654932855') format('truetype');
}
.fa-os {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fo-opensuse:before {
  content: "\e680";
}
.fo-linux:before {
  content: "\e697";
}
.fo-archlinux:before {
  content: "\e65c";
}
.fo-windows:before {
  content: "\e882";
}
.fo-macos:before {
  content: "\e6b2";
}
.fo-coreos:before {
  content: "\e69d";
}
.fo-fedora:before {
  content: "\e68c";
}
.fo-redhat:before {
  content: "\e743";
}
.fo-ubuntu:before {
  content: "\eeb1";
}
.fo-freebsd:before {
  content: "\e530";
}
.fo-docker:before {
  content: "\e6e1";
}
.fo-debian:before {
  content: "\eb74";
}
.fo-centos:before {
  content: "\e7ad";
}

